{% extends "base.html" %}
{% load mytags %}

{% block title %}aboutme{% endblock %}

{% block content %}
					<main class="col-md-12">
						<h1 class="page-title">About Me</h1>
						<article class="post">
							<div class="entry-content clearfix">
								<figure class="img-responsive-center">
									<img class="img-responsive" width="200" height="200" src="/static/blog/img/me.jpg" alt="Developer Image">
								</figure>
								<p>{{ user.detail | safe }}</p>
								<div class="height-40px"></div>
								<h2 class="title text-center">Social</h2>
								<ul class="social">
									<li>
										<a title="Github" href="https://github.com/ZTCooper/">
											<img src="/static/blog/img/github.jpg" width="50" height="50">
										</a>
									</li>
									<li>
										<a title="Weibo" href="http://weibo.com/u/2694086770">
											<img src="/static/blog/img/weibo.jpg">
										</a>
									</li>
									<li>
										<a title="1060214139" href="#">
											<img src="/static/blog/img/qq.jpg">
										</a>
									</li>
									<li>
										<a title="CSDN" href="https://blog.csdn.net/ZTCooper">
											<img src="/static/blog/img/csdn.jpg">
										</a>
									</li>
								</ul>
							</div>
						</article>
					</main>
{% endblock %}
