{% extends "base.html" %}

{% block title %}编辑博客{% endblock %}

{% block content %}
		<form action="{% url 'blog:post_blog' %}" method="post">
			{% csrf_token %}
				<input type="hidden" name="blogpost_id" value="{{ article.id | default:'0' }}" />
				<ul id="title">
				<lable>文章标题
					<input type="text" name="title" value="{{ article.title }}" />
				</lable>
				</ul>
				<br><br>
				<ul id="content">
				<lable>文章内容
					<textarea name="content" cols="50" rows="20" style="width: 800px">{{ article.content }}</textarea>
				</lable>
				</ul>
				<br/><br/>
				<ul id="category">
				<lable>所属类别
					<select name="category" multiple="multiple"><!--按下Ctrl单击多选-->
						{% for category in categories %}
						<option value="{{ forloop.count }}">{{ category }}</option>
						{% endfor %}
					</select>
					<!--input type="text" name="category" value="{{ article.category }}" -->
				</lable>
				</ul>
				<br/><br/>
				<ul id="commit_btn">
				<input type="submit"  value="提交">
				</ul>
		</form>
{% endblock %}