{% extends "base.html" %}
{% load mytags %}

{% block title %}ZT的个人博客{% endblock %}

{% block content %}
<main class="col-md-8">
    {% for article in articles %}
        <article class="post post-1">
            <header class="entry-header">
                <h1 class="entry-title">
                    <a href="{% url 'blog:blog_page' article.id %}">{{ article.title }}</a>
                </h1>
                <div class="entry-meta">
                    <span class="post-category"><a href="{% url 'blog:main_page'%}?c={{ article.category.id }}">{{ article.category }}</a></span>
                    <span class="post-date"><a href="#"><time class="entry-date"
                                                    datetime="2012-11-09T23:15:57+00:00">{{ article.create_time }}</time></a></span>
                    <span class="post-author"><a href="#">{{ article.user }}</a></span>
                    <span class="comments-link"><a href="#">4 评论</a></span>
                    <span class="views-count"><a href="#">588 阅读</a></span>
                </div>
            </header>
            <div class="entry-content clearfix">
                <p>{{ article.content | slice:":300" | add:"……" }}</p>
                <div class="read-more cl-effect-14">
                    <a href="{% url 'blog:blog_page' article.id %}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                </div>
            </div>
        </article>
    {% endfor %}
    <div class="pagination">
        <ul>
            {% if articles.has_previous %}
            <li><a href="?p={{ articles.previous_page_number }}">Previous</a></li>
            {% endif %}

            {% for page in pages.page_range %}
            <li><a href="?p={{ page }}">{{ page }}</a></li>
            {% endfor %}

            {% if articles.has_next %}
            <li><a href="?p={{ articles.next_page_number }}">Next</a>
            {% endif %}
                        <!--li class="current"><a href="">6</a></li-->
        </ul>
    </div>
</main>
{% endblock %}

	{% block sidebar %}
		<aside class="col-md-4">
                <div class="widget widget-recent-posts">
                    <h3 class="widget-title">最新文章</h3>
                    <ul>
                        {% for art in arts %}
                        <li>
                            <a href="{% url 'blog:blog_page' art.id %}">{{ art.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="widget widget-archives">
                    <h3 class="widget-title">归档</h3>
                    <ul>
                        {% for date in dates %}
                        <li>
                            <a href="{% url 'blog:blog_monthly' date.year date.month %}">{{ date | date:"Y-m" }}<span class="post-count">
                            ({{ date|monthly_count }})</span></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-category">
                    <h3 class="widget-title">分类</h3>
                    <ul>
                        {% for category in categories %}
                        <li>
                            <a href="{% url 'blog:main_page'%}?c={{ category.id }}">{{ category.title }}<span class="post-count">
                            ({{ category|category_count }})</span></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-tag-cloud">
                    <h3 class="widget-title">标签云</h3>
                    <ul>
                        <li>
                            <a href="#">Django</a>
                        </li>
                        <li>
                            <a href="#">Python</a>
                        </li>
                        <li>
                            <a href="#">Java</a>
                        </li>
                        <li>
                            <a href="#">笔记</a>
                        </li>
                        <li>
                            <a href="#">文档</a>
                        </li>
                        <li>
                            <a href="#">AngularJS</a>
                        </li>
                        <li>
                            <a href="#">CSS</a>
                        </li>
                        <li>
                            <a href="#">JavaScript</a>
                        </li>
                        <li>
                            <a href="#">Snippet</a>
                        </li>
                        <li>
                            <a href="#">jQuery</a>
                        </li>
                    </ul>
                </div>
                <div class="rss">
                    <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                </div>
		</aside>
	{% endblock %}
