{% extends "base.html" %}

{% block title %}ZT的个人博客{% endblock %}

{% block content %}
    {% for article in articles %}
        <article class="blog-main">
          <h3 class="am-article-title blog-title">
            <a href="{% url 'blog:blog_page' article.id %}">{{ article.title }}</a>
          </h3>
          <h4 class="am-article-meta blog-meta">by <a href="">ZT Cooper</a> posted on {{ article.create_time }} <a href="#">字体</a></h4>

          <div class="am-g blog-content">
            <div class="am-u-lg-7">
              {{ article.content }}
            </div>
          </div>
        </article>
    <hr class="am-article-divider blog-hr">
    {% endfor %}

        <div class="am-pagination blog-pagination">
            {% if articles.has_previous %}
                <li class="am-pagination-prev"><a href="?p={{ articles.previous_page_number }}">&laquo; 上一页</a></li>
            {% endif %}
            {% for page in pages.page_range %}
                <li class="am-pagination"><a href="?p={{ page }}">{{ page }}</a>
            {% endfor %}
            {% if articles.has_next %}
              <li class="am-pagination-next"><a href="?p={{ articles.next_page_number }}">下一页 &raquo;</a></li>
            {% endif %}
        </div>
{% endblock %}